html {
  margin: 0;
}

body {
  background: black;
  color: #00ff00;
  font-family: 'Inconsolata', monospace;
  padding: 50px;
}

p { 
  font-size: 1.6em;
  margin-top: 100px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 1.6em;
  color: ##00ff00;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}
